<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">

<div class="container gallery-container">
  

  <h1>Starters</h1>

  <p class="page-description text-center">Click on the images for more into</p>
  
  <div class="tz-gallery">

      <div class="row">

          <div class="col-sm-12 col-md-4">
              
              <a class="lightbox" href="../images/bridge.jpg">
                  <img src="../../../assets/images/All/BellPeppers1.jpg" alt="Bridge">
              </a>
          </div>
          <div class="col-sm-6 col-md-4">
              <a class="lightbox" href="../images/park.jpg">
                  <img src="../../../assets/images/All/Springroll.jpg" alt="Park">
              </a>
          </div>
          <div class="col-sm-6 col-md-4">
              <a class="lightbox" href="../images/tunnel.jpg">
                  <img src="../../../assets/images/All/cutlet.jpg" alt="Tunnel">
              </a>
          </div>
          <div class="col-sm-12 col-md-8">
              <a class="lightbox" href="../images/traffic.jpg">
                  <img src="../../../assets/images/All/CoconutShrimp.jpg" alt="Traffic">
              </a>
          </div>
          <div class="col-sm-6 col-md-4">
              <a class="lightbox" href="../images/coast.jpg">
                  <img src="../../../assets/images/All/GrilledChickenSalad.jpg" alt="Coast">
              </a>
          </div> 

      </div>

  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
  baguetteBox.run('.tz-gallery');
</script>