
<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">

<div class="container gallery-container">
  

  <h1>{{recipeType.type | capitalizeFirst }}</h1>

  <p class="page-description text-center">Click on the images for more into</p>


      <div class="row">

        
            <ng-container *ngFor = "let recipe of recipes">

                    <div class="col-md-4" *ngIf = "recipe.keyWords === recipeType.type">
                            <div class="thumbnail">
                              <a href="/recipe/{{recipe.recipeId}}">
                                <div>
                                    <img class = "recipeThumbnail" src="../../../assets/images/All/{{recipe.recipeImage}}" alt="Lights" style="width:100%">
                                </div>
                                <div class="caption" style="text-align: center">
                                        <p>{{recipe.recipeName}}</p>
                                </div>
                              </a>
                            </div>
                    
                    </div>
                    
                    

                
            </ng-container>
        </div>
    </div>

            