

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.recipeThumbnail{

    position: relative;
    float: left;
    width:  auto;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding-bottom: 25px;
}

.recipeThumbnail:hover{
    opacity: .5;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}