iframe {

    
    height: calc(100vw - 40px);
    width: calc(100vw - 40px);

  }


  @media only screen and (max-width:400px){
    .iframe{
        width: calc(100vw - 40px);
        height: calc(200vw - 40px);
    }

    
}

  
