<meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        carousel
    -->
 
                <img class="d-block w-100" id = "f-slide" src = '../../assets/images/pexels-photo-461428.jpeg' alt="First slide">
              


    <!--
        Nav bar
    -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id = "myNavBar">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <br>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a routerLink = "/recipeType/starters" class="nav-link">Starters<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a routerLink = "recipeType/drinks" class="nav-link">Drinks</a>
                </li>
                <li class="nav-item dropdown">
                  <a routerLink = "recipeType/veg" class="nav-link">Veg</a>
                </li>
                <li class="nav-item">
                  <a routerLink = "recipeType/non-veg" class="nav-link">Non Veg</a>
                </li>
              </ul>

              <!-- KEEP
              <div class="col-sm-3 col-md-3">
                 
                  <div class="dropdown">
                      <input (click)="toggleDropDown()" type="text" class="form-control" placeholder="Search" [(ngModel)]="term">

                      <fieldset>
                      <div *ngIf="showDropDown" class = "recipe-container-dropdown">
                          <div>
      
                              <div class = "state" *ngFor = "let r of recipes | recipeFilter:term">
                                  <a href="/recipe/{{r.recipeId}}">
                                    <img src="../../assets/images/All/{{r.recipeImage}}" alt="Avatar" style="border-radius: 50%;">
                                    {{r.recipeName}}
                                  </a>
                              </div>
      
                          </div>
                        </div>
                      </fieldset>

                  </div>
                  
              </div>
-->
              
            </div>
          
    </nav>