

    <!--About me-->
    <h2>Other Recipes</h2>
    <br>
    <div class="card" style="width: 18rem;">
            <img class="card-img-top" src= "../../../assets/images/All/{{image1.recipeImage}}" alt="{{image1.recipeName}}">
            <div class="card-body">
              <h5 class="card-title">{{image1.recipeName}}</h5>
              <p class="card-text">{{image1.recipeDescShort}}</p>
              <a href="#" class="btn btn-primary">More</a>
            </div>
    </div>

    <br>

    <div class="card" style="width: 18rem;">
            <img class="card-img-top" src= "../../../assets/images/All/{{image2.recipeImage}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{image2.recipeName}}</h5>
              <p class="card-text">{{image2.recipeDescShort}}</p>
              <a href="#" class="btn btn-primary">More</a>
            </div>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
            <img class="card-img-top" src= "../../../assets/images/All/{{image3.recipeImage}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{image3.recipeName}}</h5>
              <p class="card-text">{{image3.recipeDescShort}}</p>
              <a href="#" class="btn btn-primary">More</a>
            </div>
    </div>

    <br>
